body {
    background-color: rgb(100, 100, 100);
    color: white;
    overflow-x: hidden;
}

.section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: block;
}

.row {
    margin: 20px 0px 10px 0px;
}