body {
    background-color: rgb(100, 100, 100);
    color: white;
}

.section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#aboutMe {
    background-color:  rgb(115, 115, 115);
    color: white
}