.sectionHeader {
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 10px;
}

.jumbotron {
    background: url('../assets/purpleField.jpg') center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    padding-top: 45vh;
    text-align: center;
    /* opacity: 75%; */
}

#headerName {
    font-weight: 400;
}