nav {
    position: fixed;
    height: 5vh;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

.navbar {
    color: white;
}

.show {
    background: black;
    opacity: 75%;
    width: 8rem;
}

.colapsing {
    background: black;
    opacity: 75%;
    width: 8rem;
}

.bg-light {
    background-color: transparent !important;
}

.container-fluid {
    display: inline-block !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.hidden {
    background-color:gold;
}