#projects {
    background-image: linear-gradient(to top left, rgb(115, 115, 115), rgb(50, 50, 50));
    color: white
}

.projectHeaders {
    text-align: center;
    vertical-align: center;
    margin: 20px 0px 10px 0px;
}

.projectItem { /* Screen Shots were 1400x700*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    width: 100%;
    overflow-x: hidden;
    display: block;
}

.thumbnail {
    border: 3px solid transparent; 
    border-radius: 15px; 
    width: 100%;
    justify-content: center;
}

.thumbnail:hover {
    border: 3px solid black;
  }